package $pckName;

import ${pckName}.hibernate.HibernateDAOFactory;

/**
 * Generated at $date
 *
 * @see http://www.hibernate.org/328.html
 * @author ${generatorVersion}
 */

public abstract class DAOFactory {

	private static final DAOFactory HIBERNATE = new HibernateDAOFactory();

    /**
     * Default factory implementation
     */
	public static final DAOFactory DEFAULT = HIBERNATE;
	
	
#foreach($jdoInfo in ${jdoInfos})	
	public abstract ${jdoInfo.javaClassName}DAO build${jdoInfo.javaClassName}DAO();
	
#end
}
