<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

	<!-- You need to complete the configuration here. This is just a sample, you should use a connection pool -->
	<property name="connection.url">${connInfo.url}</property>
	<property name="connection.username">${connInfo.user}</property>
	<property name="connection.driver_class">${connInfo.driver}</property>
#if (${hibernateDialectHelper.getHibernateDialect(${connInfo.conn.getMetaData()})})
	<!-- Your database is ${connInfo.conn.getMetaData().getDatabaseProductName()} ${connInfo.conn.getMetaData().getDatabaseMajorVersion()}.${connInfo.conn.getMetaData().getDatabaseMinorVersion()} -->
	<property name="dialect">$hibernateDialectHelper.getHibernateDialect(${connInfo.conn.getMetaData()})</property>
#if (${connInfo.conn.getMetaData().getDatabaseProductName()}=="MySQL" && ${connInfo.conn.getMetaData().getDatabaseMajorVersion()}>=5)
	<!-- You can also use org.hibernate.dialect.MySQL5InnoDBDialect if all your tables are InnoDBs.-->
	
#else
	<!-- You can also use org.hibernate.dialect.MySQLInnoDBDialect if all your tables are InnoDBs or org.hibernate.dialect.MySQLMyISAMDialect if all your tables are MyISAMs.-->

#end
#else
	<!-- Your database is ${connInfo.conn.getMetaData().getDatabaseProductName()}. No dialect is known by Salto-db-generator for this database.
	     If you know what dialect to use, please send an email to rflament@salto-consulting.com and precise that the database is
	     "${connInfo.conn.getMetaData().getDatabaseProductName()}". Thank you.
	-->
	<property name="dialect"> SET THE DATABASE DIALECT HERE </property>
#end
	<property name="connection.password">${connInfo.pwd}</property>
	<property name="show_sql">true</property>
	
	<!-- Remove this property if you use JTA -->
	<property name="current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>
		
#foreach($jdoInfo in ${jdoInfos})		
	<mapping class="${pckName}.pojo.${jdoInfo.javaClassName}" />
#if ($util.getLength($jdoInfo.getPk()) > 1)
	<mapping class="${pckName}.pojo.${jdoInfo.javaClassName}\$${jdoInfo.javaClassName}PK" />
#end
#end

	</session-factory>
</hibernate-configuration>
