<%@ include file="/common/taglibs.jsp"%>
	<head>
	    <title><fmt:message key="${util.DoNameCreator.class2attribute(${jdoInfo.javaClassName})}List.title"/></title>
	    <content tag="heading"><fmt:message key="${util.DoNameCreator.class2attribute(${jdoInfo.javaClassName})}List.title"/></content>
	    
<script language="javascript">

function remove${jdoInfo.javaClassName}(id)
{
/* todo : ajax request with prototype*/
document.location = 'delete${jdoInfo.javaClassName}.html?${util.DoNameCreator.class2attribute(${jdoInfo.javaClassName})}Id='+id;
}

</script>
	</head>
<%@ include file="${util.DoNameCreator.class2attribute(${jdoInfo.javaClassName})}EmList.jsp" %>