<%@ include file="/common/taglibs.jsp"%>

<menu:useMenuDisplayer name="Velocity" config="WEB-INF/classes/cssHorizontalMenu.vm">
<ul id="primary-nav" class="menuList">
    <li class="pad">&nbsp;</li>
#foreach($jdoInfo in ${jdoInfos})
	<menu:displayMenu name="${jdoInfo.javaClassName}"/>
#end
</ul>
</menu:useMenuDisplayer>